
# Copyright (c) 2019-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Technologies, Inc. are provided under the following license:
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

import /vendor/etc/init/hw/init.qti.kernel.rc
import /vendor/etc/init/hw/init.batterysecret.rc
import /vendor/etc/init/hw/init.mi_thermald.rc

on early-init
    write /proc/sys/kernel/printk_devkmsg ratelimited
    export MEMTAG_OPTIONS off
    export ADSP_LIBRARY_PATH /odm/lib/rfsa/adsp;/vendor/lib/rfsa/adsp/;/system/lib/rfsa/adsp;/system/vendor/lib/rfsa/adsp;/dsp
    # set tcp_mtu_probing to 1
    write /proc/sys/net/ipv4/tcp_mtu_probing 1
    # set h8 timeout to 5000
    chmod 0660 /sys/module/ufshcd_core/parameters/uic_cmd_timeout
    chmod 0660 /sys/module/ufs_qcom/parameters/uic_cmd_timeout
    write /sys/module/ufshcd_core/parameters/uic_cmd_timeout 5000
    write /sys/module/ufs_qcom/parameters/uic_cmd_timeout 5000

on init
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chown system system /sys/devices/platform/soc/1d84000.ufshc/auto_hibern8
    chmod 0660 /sys/devices/platform/soc/1d84000.ufshc/auto_hibern8
    start logd

on early-fs
    start vold

on fs
    mount_all /vendor/etc/fstab.qcom --early
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/secnvm 0770 system system
    mkdir /mnt/vendor/persist/data 0700 system system
    mount ext4 /dev/block/bootdevice/by-name/rescue /mnt/rescue noatime
    restorecon_recursive /mnt/rescue

on post-fs
    chmod 0662 /dev/miev
    restorecon /dev/miev

on post-fs-data
    chmod 0666 /dev/migt
    restorecon /dev/migt
    chmod 0666 /dev/migt_reset
    restorecon /dev/migt_reset
    chmod 0777 /sys/module/migt/parameters/migt_freq
    restorecon /sys/module/migt/parameters/migt_freq
    chmod 0777 /sys/module/migt/parameters/migt_ms
    restorecon /sys/module/migt/parameters/migt_ms
    chmod 0777 /sys/module/migt/parameters/migt_thresh
    restorecon /sys/module/migt/parameters/migt_thresh
    chmod 0777 /sys/module/migt/parameters/boost_policy
    restorecon /sys/module/migt/parameters/boost_policy
    chmod 0777 /sys/module/migt/parameters/fps_variance_ratio
    restorecon /sys/module/migt/parameters/fps_variance_ratio
    chmod 0777 /sys/module/migt/parameters/super_task_max_num
    restorecon /sys/module/migt/parameters/super_task_max_num
    chmod 0777 /sys/module/migt/parameters/migt_ceiling_freq
    restorecon /sys/module/migt/parameters/migt_ceiling_freq
    chmod 0777 /sys/module/migt/parameters/stask_candidate_num
    restorecon /sys/module/migt/parameters/stask_candidate_num
    chmod 0666 /sys/module/migt/parameters/glk_disable
    restorecon /sys/module/migt/parameters/glk_disable
    chmod 0666 /sys/module/migt/parameters/glk_fbreak_enable
    restorecon /sys/module/migt/parameters/glk_fbreak_enable
    chmod 0666 /sys/module/migt/parameters/glk_freq_limit_walt
    restorecon /sys/module/migt/parameters/glk_freq_limit_walt
    chmod 0666 /sys/module/migt/parameters/glk_minfreq
    restorecon /sys/module/migt/parameters/glk_minfreq
    chmod 0666 /sys/module/migt/parameters/glk_maxfreq
    restorecon /sys/module/migt/parameters/glk_maxfreq
    chmod 0666 /sys/module/migt/parameters/force_reset_runtime
    restorecon /sys/module/migt/parameters/force_reset_runtime
    chmod 0777 /sys/module/metis/parameters/minor_window_app
    restorecon /sys/module/metis/parameters/minor_window_app
    chmod 0666 /sys/module/migt/parameters/mi_viptask
    restorecon /sys/module/migt/parameters/mi_viptask
    chmod 0666 /sys/module/migt/parameters/mi_freq_enable
    restorecon /sys/module/migt/parameters/mi_freq_enable
    chmod 0666 /sys/module/migt/parameters/stask_prefer_cluster
    restorecon /sys/module/migt/parameters/stask_prefer_cluster
    chmod 0666 /sys/module/migt/parameters/render_prefer_cluster
    restorecon /sys/module/migt/parameters/render_prefer_cluster
    chmod 0666 /sys/module/migt/parameters/vip_prefer_cluster
    restorecon /sys/module/migt/parameters/vip_prefer_cluster
    chmod 0666 /sys/module/migt/parameters/ip_prefer_cluster
    restorecon /sys/module/migt/parameters/ip_prefer_cluster
    chmod 0666 /sys/module/migt/parameters/force_forbidden_walt_lb
    restorecon /sys/module/migt/parameters/force_forbidden_walt_lb
    chmod 0666 /sys/module/migt/parameters/force_viptask_select_rq
    restorecon /sys/module/migt/parameters/force_viptask_select_rq
    chmod 0666 /sys/module/migt/parameters/force_cluster_sched_enable
    restorecon /sys/module/migt/parameters/force_cluster_sched_enable
    chmod 0666 /sys/module/migt/parameters/choose_cluster_disable
    restorecon /sys/module/migt/parameters/choose_cluster_disable
    chmod 0666 /sys/module/migt/parameters/flw_enable
    restorecon /sys/module/migt/parameters/flw_enable
    chmod 0666 /sys/module/migt/parameters/flw_freq_enable
    restorecon /sys/module/migt/parameters/flw_freq_enable
    chmod 0666 /sys/module/migt/parameters/choose_other_cluster_load
    restorecon /sys/module/migt/parameters/choose_other_cluster_load
    chmod 0666 /sys/module/migt/parameters/choose_asym_cpu
    restorecon /sys/module/migt/parameters/choose_asym_cpu
    chmod 0666 /sys/module/migt/parameters/choose_run_cluster_load
    restorecon /sys/module/migt/parameters/choose_run_cluster_load
    chmod 0666 /sys/module/migt/parameters/choose_flw_type
    restorecon /sys/module/migt/parameters/choose_flw_type
    chmod 0666 /sys/module/migt/parameters/target_delta
    restorecon /sys/module/migt/parameters/target_delta
    chmod 0666 /sys/module/migt/parameters/up_thresh_margin
    restorecon /sys/module/migt/parameters/up_thresh_margin
    chmod 0666 /sys/module/migt/parameters/down_thresh_margin
    restorecon /sys/module/migt/parameters/down_thresh_margin
    chmod 0666 /sys/module/migt/parameters/choose_avg_num
    restorecon /sys/module/migt/parameters/choose_avg_num
    chmod 0666 /sys/module/migt/parameters/mi_low_freq
    restorecon /sys/module/migt/parameters/mi_low_freq
    chmod 0666 /sys/module/migt/parameters/mi_high_freq
    restorecon /sys/module/migt/parameters/mi_high_freq
    chmod 0666 /sys/module/migt/parameters/pro_thresh_freq
    restorecon /sys/module/migt/parameters/pro_thresh_freq
    chmod 0666 /sys/module/migt/parameters/choose_wake_state
    restorecon /sys/module/migt/parameters/choose_wake_state
    chmod 0666 /sys/module/migt/parameters/fpercent_other
    restorecon /sys/module/migt/parameters/fpercent_other
    chmod 0666 /sys/module/migt/parameters/fpercent
    restorecon /sys/module/migt/parameters/fpercent
    chmod 0666 /sys/module/migt/parameters/flt_preboost_gamemode
    restorecon /sys/module/migt/parameters/flt_preboost_gamemode

    chmod 0666 /dev/metis
    restorecon /dev/metis
    chown 0666 /sys/module/metis/parameters
    chmod 0664 /sys/module/metis/parameters/add_rebind_task_lit
    chmod 0664 /sys/module/metis/parameters/add_rebind_task_mid
    chmod 0664 /sys/module/metis/parameters/add_rebind_task_big
    chmod 0664 /sys/module/metis/parameters/del_rebind_task_lit
    chmod 0664 /sys/module/metis/parameters/del_rebind_task_mid
    chmod 0664 /sys/module/metis/parameters/del_rebind_task_big
    chmod 0664 /sys/module/metis/parameters/add_lclus_affinity_uidlist
    chmod 0664 /sys/module/metis/parameters/del_lclus_affinity_uidlist
    chmod 0664 /sys/module/metis/parameters/add_mclus_affinity_uidlist
    chmod 0664 /sys/module/metis/parameters/del_mclus_affinity_uidlist
    chmod 0664 /sys/module/metis/parameters/add_bclus_affinity_uidlist
    chmod 0664 /sys/module/metis/parameters/del_bclus_affinity_uidlist
    chmod 0664 /sys/module/metis/parameters/reset_clus_affinity_uidlist
    chown root system /sys/module/metis/parameters
    chown root system /sys/module/metis/parameters/add_rebind_task_lit
    chown root system /sys/module/metis/parameters/add_rebind_task_mid
    chown root system /sys/module/metis/parameters/add_rebind_task_big
    chown root system /sys/module/metis/parameters/del_rebind_task_lit
    chown root system /sys/module/metis/parameters/del_rebind_task_mid
    chown root system /sys/module/metis/parameters/del_rebind_task_big
    chown root system /sys/module/metis/parameters/add_lclus_affinity_uidlist
    chown root system /sys/module/metis/parameters/del_lclus_affinity_uidlist
    chown root system /sys/module/metis/parameters/add_mclus_affinity_uidlist
    chown root system /sys/module/metis/parameters/del_mclus_affinity_uidlist
    chown root system /sys/module/metis/parameters/add_bclus_affinity_uidlist
    chown root system /sys/module/metis/parameters/del_bclus_affinity_uidlist
    chown root system /sys/module/metis/parameters/reset_clus_affinity_uidlist

    chmod 0666 /dev/metis
    restorecon /dev/metis
    chmod 0666 /sys/module/metis/parameters/mi_viptask
    restorecon /sys/module/metis/parameters/mi_viptask
    chmod 0666 /sys/module/metis/parameters/mi_viptask_balance
    restorecon /sys/module/metis/parameters/mi_viptask_balance
    chmod 0666 /sys/module/metis/parameters/mi_boost_duration
    restorecon /sys/module/metis/parameters/mi_boost_duration
    chmod 0666 /sys/class/thermal/thermal_message/boost
    restorecon /sys/class/thermal/thermal_message/boost
    chmod 0666 /sys/module/metis/parameters/vip_link_enable
    restorecon /sys/module/metis/parameters/vip_link_enable
    chmod 0666 /sys/module/metis/parameters/vip_link_async_binder
    restorecon /sys/module/metis/parameters/vip_link_async_binder
    chmod 0666 /sys/module/metis/parameters/mi_fboost_enable
    restorecon /sys/module/metis/parameters/mi_fboost_enable
    chmod 0666 /sys/module/metis/parameters/add_mi_viptask_enqueue_boost
    restorecon /sys/module/metis/parameters/add_mi_viptask_enqueue_boost
    chmod 0666 /sys/module/metis/parameters/del_mi_viptask_enqueue_boost
    restorecon /sys/module/metis/parameters/del_mi_viptask_enqueue_boost
    chmod 0666 /sys/module/metis/parameters/add_mi_viptask_sched_priority
    restorecon /sys/module/metis/parameters/add_mi_viptask_sched_priority
    chmod 0666 /sys/module/metis/parameters/del_mi_viptask_sched_priority
    restorecon /sys/module/metis/parameters/del_mi_viptask_sched_priority
    chmod 0666 /sys/module/metis/parameters/add_mi_viptask_sched_lit_core
    restorecon /sys/module/metis/parameters/add_mi_viptask_sched_lit_core
    chmod 0666 /sys/module/metis/parameters/del_mi_viptask_sched_lit_core
    restorecon /sys/module/metis/parameters/del_mi_viptask_sched_lit_core
    chmod 0666 /sys/module/metis/parameters/is_break_enable
    restorecon /sys/module/metis/parameters/is_break_enable
    chmod 0666 /sys/module/metis/parameters/trace_motion_event
    restorecon /sys/module/metis/parameters/trace_motion_event
    chown root system /sys/module/metis/parameters/trace_motion_event
    chmod 0666 /sys/module/metis/parameters/cold_start_app_tgid
    restorecon /sys/module/metis/parameters/cold_start_app_tgid
    chmod 0666 /sys/module/metis/parameters/metis_wakeup_enable
    restorecon /sys/module/metis/parameters/metis_wakeup_enable
    chmod 0666 /sys/module/metis/parameters/metis_wakeup_task
    restorecon /sys/module/metis/parameters/metis_wakeup_task
    chmod 0666 /sys/module/metis/parameters/sserver_tgid
    restorecon /sys/module/metis/parameters/sserver_tgid
    chmod 0666 /sys/module/metis/parameters/protect_cs
    restorecon /sys/module/metis/parameters/protect_cs
    chmod 0666 /sys/module/metis/parameters/metis_schlat_enable
    restorecon /sys/module/metis/parameters/metis_schlat_enable
    chmod 0666 /sys/module/metis/parameters/common_persist_vip_task
    restorecon /sys/module/metis/parameters/common_persist_vip_task
    chmod 0666 /sys/module/metis/parameters/clear_persist_vip_task
    restorecon /sys/module/metis/parameters/clear_persist_vip_task

    chmod 0666 /dev/metis_link
    restorecon /dev/metis_link
    chmod 0666 /sys/module/metis/parameters/mi_lock_blocked_pid
    restorecon /sys/module/metis/parameters/mi_lock_blocked_pid

    chmod 0666 /sys/module/metis/parameters/stask_prefer_cluster
    restorecon /sys/module/metis/parameters/stask_prefer_cluster
    chmod 0666 /sys/module/metis/parameters/render_prefer_cluster
    restorecon /sys/module/metis/parameters/render_prefer_cluster
    chmod 0666 /sys/module/metis/parameters/vip_prefer_cluster
    restorecon /sys/module/metis/parameters/vip_prefer_cluster
    chmod 0666 /sys/module/metis/parameters/ip_prefer_cluster
    restorecon /sys/module/metis/parameters/ip_prefer_cluster
    chmod 0666 /sys/module/metis/parameters/force_forbidden_walt_lb
    restorecon /sys/module/metis/parameters/force_forbidden_walt_lb
    chmod 0666 /sys/module/metis/parameters/force_viptask_select_rq
    restorecon /sys/module/metis/parameters/force_viptask_select_rq
    chmod 0666 /sys/module/metis/parameters/force_cluster_sched_enable
    restorecon /sys/module/metis/parameters/force_cluster_sched_enable

    chmod 0666 /dev/mi_group
    restorecon /dev/mi_group
    chmod 0666 /dev/mi_frameload
    restorecon /dev/mi_frameload
    chmod 0666 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    restorecon /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    restorecon /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    chmod 0666 /sys/module/miloadtrace/parameters/choose_result_util_policy
    restorecon /sys/module/miloadtrace/parameters/choose_result_util_policy
    chmod 0666 /sys/module/miloadtrace/parameters/frame_util_boost
    restorecon /sys/module/miloadtrace/parameters/frame_util_boost
    chmod 0666 /sys/module/miloadtrace/parameters/frame_drop_boost
    restorecon /sys/module/miloadtrace/parameters/frame_drop_boost
    chmod 0666 /sys/module/miloadtrace/parameters/util_boost_percent
    restorecon /sys/module/miloadtrace/parameters/util_boost_percent
    chmod 0666 /sys/module/miloadtrace/parameters/util_zero_boost_percent
    restorecon /sys/module/miloadtrace/parameters/util_zero_boost_percent
    chmod 0666 /sys/module/miloadtrace/parameters/down_util_margin
    restorecon /sys/module/miloadtrace/parameters/down_util_margin
    chmod 0666 /sys/module/miloadtrace/parameters/cal_running_time_type
    restorecon /sys/module/miloadtrace/parameters/cal_running_time_type
    chmod 0666 /sys/module/miloadtrace/parameters/expand_shift
    restorecon /sys/module/miloadtrace/parameters/expand_shift
    chmod 0666 /sys/module/miloadtrace/parameters/kern_percent
    restorecon /sys/module/miloadtrace/parameters/kern_percent

on late-fs
    #exec_start wait_for_keymaster
    mount_all /vendor/etc/fstab.qcom --late

on post-fs-data
    # MIUI ADD: Performance_BoostFramework
    chown system system /sys/module/perf_helper/mimd/mimdtrigger
    # END Performance_BoostFramework
    mkdir /vendor/data/tombstones 0771 system system
    # use nv mac
    mkdir /data/vendor/mac_addr 0770 system wifi
    mkdir /mnt/vendor/persist/wlan 0770 system wifi
    chmod 0660 /dev/ir_spi
    chown system system /dev/ir_spi
    # add wlan log output path
    mkdir /data/vendor/wlan_logs 0777 root shell

    #QCC mode configuration
    setprop vendor.qti.qcc.oper.mode 4

    # thermal add
    chmod 0666 /sys/class/thermal/thermal_message/boost
    restorecon /sys/class/thermal/thermal_message/boost
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system

    chmod 0600 /dev/ntsync
    restorecon /dev/ntsync
    chown 7100 7100 /dev/ntsync

on early-boot
    # Wait (2 second at most) for 'fs_ready' entry to be created
    wait /sys/kernel/cnss/fs_ready 2
    # Enable WLAN cold boot calibration
    write /sys/kernel/cnss/fs_ready 1
    verity_update_state
    #Enable WLAN SSR recovery
    write /sys/kernel/cnss/recovery 3

on boot
    write /dev/cpuset/audio-app/cpus 0-7
    # Add a cpuset for the camera daemon
    # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks
    chown system /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_enable
    chown system /sys/devices/platform/soc/990000.spi/spi_master/spi0/spi0.0/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/990000.spi/spi_master/spi0/spi0.0/trusted_touch_enable
    chown system /sys/devices/system/cpu/hyp_core_ctl/enable
    chown system /sys/devices/system/cpu/hyp_core_ctl/hcc_min_freq

    # Create persist for camera calibration data
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver

    # XIAOMI ADD: enableForceFullRecoveryForCRC
    chmod 0666 /sys/csiphy_umd_paras/csiphy_umd_paras
    # END: enableForceFullRecoveryForCRC

    # MIUI ADD: Power_PowerSaveModeV2
    chown root system /sys/powersave/limit_buf
    chmod 0664 /sys/powersave/limit_buf
    chown root system /sys/powersave/boost
    chmod 0664 /sys/powersave/boost
    # END Power_PowerSaveModeV2

    #MIUI ADD: Power_PowerTelemetry
    chown root system /sys/class/powercap/qpt/enabled
    chown root system /sys/class/powercap/qpt/qpt:0/energy_uj
    chmod 0660 /sys/class/powercap/qpt/enabled
    chmod 0440 /sys/class/powercap/qpt/qpt:0/energy_uj
    #END Power_PowerTelemetry

    #MIUI ADD: Memory_CLD
    #ufscld functions permission
    chown root system /sys/devices/platform/soc/1d84000.ufshc/ufscld/auto_hibern8_enable
    chown root system /sys/devices/platform/soc/1d84000.ufshc/ufscld/block_suspend
    chown root system /sys/devices/platform/soc/1d84000.ufshc/ufscld/cld_operation_status
    chown root system /sys/devices/platform/soc/1d84000.ufshc/ufscld/debug
    chown root system /sys/devices/platform/soc/1d84000.ufshc/ufscld/frag_level
    chown root system /sys/devices/platform/soc/1d84000.ufshc/ufscld/trigger
    chown root system /sys/devices/platform/soc/1d84000.ufshc/ufscld/trigger_interval
    chmod 664 /sys/devices/platform/soc/1d84000.ufshc/ufscld/trigger
    #END Memory_CLD

    # add torch node for cit && mmi
    chown system system /sys/class/leds/yellow:flash-0/brightness
    chown system system /sys/class/leds/yellow:flash-0/trigger
    chown system system /sys/class/leds/white:flash-1/brightness
    chown system system /sys/class/leds/white:flash-1/trigger
    chown system system /sys/class/leds/amber:flash-2/brightness
    chown system system /sys/class/leds/amber:flash-2/trigger
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/trigger
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/trigger

    chmod 0664 /sys/class/leds/yellow:flash-0/brightness
    chmod 0664 /sys/class/leds/yellow:flash-0/trigger
    chmod 0664 /sys/class/leds/white:flash-1/brightness
    chmod 0664 /sys/class/leds/white:flash-1/trigger
    chmod 0664 /sys/class/leds/amber:flash-2/brightness
    chmod 0664 /sys/class/leds/amber:flash-2/trigger
    chmod 0664 /sys/class/leds/blue/brightness
    chmod 0664 /sys/class/leds/blue/trigger
    chmod 0664 /sys/class/leds/green/brightness
    chmod 0664 /sys/class/leds/green/trigger
    chmod 0664 /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/red/trigger

    #MIUI ADD: Performance_BoostFramework
    chmod 0664 /sys/module/perf_helper/sched_assi/sched_keytask
    chown root system /sys/module/perf_helper/sched_assi/sched_keytask
    chmod 0664 /sys/module/perf_helper/sched_assi/sched_task_winstate
    chown root system /sys/module/perf_helper/sched_assi/sched_task_winstate
    #END Performance_BoostFramework

    #MIUI ADD:Thermal_NodeReq
    chown system system /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/balance_mode
    chown cameraserver cameraserver /sys/class/thermal/thermal_message/torch_real_level
    chown cameraserver cameraserver /sys/class/thermal/thermal_message/flash_state
    chown system system /sys/class/thermal/thermal_message/charger_temp
    chown system system /sys/class/thermal/power_save/powersave_mode
    chown system system /sys/class/thermal/power_save/power_level
    chown system system /sys/class/thermal/thermal_message/board_sensor_temp_comp
    chown system system /sys/class/thermal/thermal_message/cpu_nolimit_temp
    chown system system /sys/class/thermal/thermal_message/special_cpu_limit
    chown system system /sys/class/thermal/thermal_message/temp_aware
    #END Thermal_NodeReq

on property:vendor.display.lcd_density=560
   setprop dalvik.vm.heapgrowthlimit 256m

on property:vendor.display.lcd_density=640
   setprop dalvik.vm.heapgrowthlimit 512m

on init && property:ro.boot.mode=charger
    mount_all /vendor/etc/charger_fstab.qcom --early

on charger
    start vendor.power_off_alarm
    write /sys/kernel/cnss/charger_mode 1
    chown system system /sys/class/backlight/panel0-backlight/brightness
    write /sys/devices/system/cpu/qcom_lpm/parameters/sleep_disabled n
    write /sys/bus/platform/devices/1d84000.ufshc/clkscale_enable 1
    write /sys/bus/platform/devices/1d84000.ufshc/auto_hibern8 5000
    write /sys/bus/platform/devices/1d84000.ufshc/clkgate_enable 1

#service vendor.lowi /vendor/bin/sscrpcd
#   class core
#   user system
#   group system wakelock
#   capabilities BLOCK_SUSPEND

#pd-mapper
service vendor.pd_mapper /vendor/bin/pd-mapper
    class core
    user system
    group system

#Peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

#service vendor.mdm_helper /vendor/bin/mdm_helper
#    class core
#    group system wakelock
#    disabled

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    write /sys/kernel/qcom_rproc/shutdown_in_progress 1
    stop vendor.per_proxy

# on property:vold.decrypt=trigger_restart_framework
#    start vendor.cnss_diag

# enable root version wlan log
on property:ro.debuggable=1 && property:persist.vendor.performance.disable.wlan_logs=
    start vendor.cnss_diag
    start vendor.tcpdump

# adapt tcpdump and cnss_diag
service vendor.cnss_diag /system/vendor/bin/cnss_diag -q -t HELIUM
   class main
   user system
   group system wifi inet sdcard_rw media_rw diag
   socket cnss_diag_socket stream 0666 root system
   disabled
   oneshot

on property:persist.vendor.cnss_diag.enable=true
    start vendor.cnss_diag

on property:persist.vendor.cnss_diag.enable=false
    stop vendor.cnss_diag

service vendor.tcpdump /vendor/bin/tcpdump -i any -W 3 -C 5 -s 134 -w /data/vendor/wlan_logs/tcpdump.pcap -Z system
    class main
    user root
    group root wifi
    disabled
    oneshot

on property:persist.vendor.tcpdump.enable=true
    start vendor.tcpdump

on property:persist.vendor.tcpdump.enable=false
    stop vendor.tcpdump

service vendor.nv_mac /vendor/bin/nv_mac
    class late_start
    user system
    group system inet net_admin wifi net_raw
    oneshot

on early-boot && property:persist.vendor.pcie.boot_option=*
    write /sys/bus/platform/devices/1c00000.qcom,pcie/debug/boot_option ${persist.vendor.pcie.boot_option}
    write /sys/bus/platform/devices/1c08000.qcom,pcie/debug/boot_option ${persist.vendor.pcie.boot_option}

service fatal_err_check /vendor/bin/check_fatal_err.sh
    class late_start
    user root
    group root
    oneshot

on property:vendor.bluetooth.startwdsdaemon=true
    start vendor.bt_wdsdaemon
on property:vendor.bluetooth.startwdsdaemon=false
    stop vendor.bt_wdsdaemon
service vendor.bt_wdsdaemon /system/vendor/bin/wdsdaemon -su
    class late_start
    user root
    group bluetooth diag system wakelock
    disabled
    oneshot

# adapt wifi cit tool start
service vendor.sniffer /vendor/bin/tcpdump -i wlan0 -w /data/vendor/wlan_logs/sniffer.pcap -Z system
    class main
    user root
    group root wifi
    disabled
    oneshot

service vendor.sniffer.circular /vendor/bin/tcpdump -i wlan0 -W 3 -C 300 -w /data/vendor/wlan_logs/sniffer.pcap -Z system
    class main
    user root
    group root wifi
    disabled
    oneshot

on property:vendor.hardware.wlan.runtcpdump=stop
     stop vendor.tcpdump

on property:vendor.hardware.wlan.runtcpdump=start
     start vendor.tcpdump

on property:vendor.hardware.wlan.runsniffer=stop
     stop vendor.sniffer

on property:vendor.hardware.wlan.runsniffer=start
     start vendor.sniffer

on property:vendor.hardware.wlan.runsniffer.circular=stop
    stop vendor.sniffer.circular

on property:vendor.hardware.wlan.runsniffer.circular=start
    start vendor.sniffer.circular
# adapt wifi cit tool end

# Enable WLAN SSR recovery
on property:persist.vendor.ssr.restart_level=ALL_ENABLE
    write /sys/kernel/cnss/recovery 3

# Disable WLAN SSR recovery
on property:persist.vendor.ssr.restart_level=ALL_DISABLE
    write /sys/kernel/cnss/recovery 0

# enable wifi reset
on property:persist.vendor.ssr.wifi.reset=true
    write /sys/class/net/wlan0/unit_test_target "19 1 4"
    setprop persist.vendor.ssr.wifi.reset false
# remove ffu.ko
service ufs_ffu_service /vendor/bin/sh /vendor/bin/ufs_ffu.sh
    class core
    user root
    oneshot

on property:sys.boot_completed=1
    start ufs_ffu_service

# enable/disable pcie linkdown optimization
on property:persist.vendor.pcie.linkdown.optimization=1
    write /sys/kernel/cnss/pcie_optimization 1
on property:persist.vendor.pcie.linkdown.optimization=0
    write /sys/kernel/cnss/pcie_optimization 0

on property:ro.boot.hwc=GL
    setprop ro.vendor.miui.support_esim true
