# MIUI ADD: Charger_DebugEnhance
on property:sys.boot_completed=1
    chmod 0664 /sys/class/qcom-battery/pd_verifed
    chmod 0664 /sys/class/qcom-battery/request_vdm_cmd
    chmod 0664 /sys/class/qcom-battery/verify_process
    chmod 0664 /sys/class/xm_power/fuelgauge/strategy_fg/authentic
    chmod 0664 /sys/class/xm_power/fuelgauge/strategy_fg/verify_slave_flag
    chmod 0664 /sys/class/xm_power/fuelgauge/strategy_fg/slave_authentic
    chmod 0666 /sys/class/xm_power/charger/wls_basic_charge/audio_phone_sts

service batterysecret /vendor/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled
    seclabel u:r:batterysecret:s0

#bootmode start service
#service bootmode /vendor/bin/bootmode
#class main
#user root
#disabled
#oneshot
#seclabel u:r:batterysecret:s0

#on property:sys.bootmode.enable=1
#start bootmode

on property:sys.boot_completed=1
    start batterysecret

#run batterysecret in off-charge mode
on charger
    start batterysecret
    chmod 0664 /sys/class/qcom-battery/pd_verifed
    chmod 0664 /sys/class/qcom-battery/request_vdm_cmd
    chmod 0664 /sys/class/qcom-battery/verify_process
    chmod 0664 /sys/class/xm_power/fuelgauge/strategy_fg/authentic
    chmod 0664 /sys/class/xm_power/fuelgauge/strategy_fg/verify_slave_flag
    chmod 0664 /sys/class/xm_power/fuelgauge/strategy_fg/slave_authentic

#on boot
#    wait /sys/class/qcom-battery/double85 30
#    wait /sys/class/qcom-battery/remove_temp_limit 2
#    chmod 0664 /sys/class/qcom-battery/double85
#    chmod 0664 /sys/class/qcom-battery/remove_temp_limit
#    write /dev/kmsg "<3>init.batterysecret.rc: the double85 and remove_temp_limit node now already exist"
#    write /sys/class/qcom-battery/double85 ${persist.sys.charger.double85}
#    write /sys/class/qcom-battery/remove_temp_limit ${persist.sys.charger.remove_temp_limit}

on property:persist.sys.charger.double85=1
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.double85 changed: 1"
    write /sys/class/qcom-battery/double85 1

on property:persist.sys.charger.double85=0
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.double85 changed: 0"
    write /sys/class/qcom-battery/double85 0

on property:persist.sys.charger.remove_temp_limit=1
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.remove_temp_limit changed: 1"
    write /sys/class/qcom-battery/remove_temp_limit 1

on property:persist.sys.charger.remove_temp_limit=0
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.remove_temp_limit changed: 0"
    write /sys/class/qcom-battery/remove_temp_limit 0

on property:sys.boot_completed=1
    chown system system /sys/class/xm_power/fg_master/resistance_id
    chown system system /sys/class/xm_power/fg_master/soh
    chown system system /sys/class/xm_power/fg_master/chip_ok
    chown system system /sys/class/xm_power/fuelgauge/strategy_fg/authentic
    chown system system /sys/class/xm_power/hw_monitor/bmd/btb_slave_status
    chown system system /sys/class/xm_power/typec/cc_orientation
    chown system system /sys/class/xm_power/typec/has_dp
    chown system system /sys/class/xm_power/typec/typec_mode
    chown system system /sys/class/qcom-battery/magnetic_case_flag
    chown system system /sys/devices/platform/soc/a600000.ssusb/super_speed

on property:persist.sys.charger.adsp_etm=1
    exec_background /vendor/bin/qdss_qmi_helper adsp etm_config "dsp mode 0x03"
    write /sys/bus/coresight/devices/coresight-tmc-etr/out_mode mem
    write /sys/bus/coresight/devices/coresight-tmc-etr/buffer_size 0x2000000
    write /sys/bus/coresight/devices/coresight-tmc-etr/enable_sink 1
    write /sys/bus/coresight/devices/coresight-audio-etm0/enable_source 1

on property:persist.sys.time.offset=*
    write /sys/class/xm_power/charge_log/time_offset ${persist.sys.time.offset}

on property:ro.product.name=*
    write /sys/class/xm_power/charger/charger_common/property ro.product.name=${ro.product.name}
on property:persist.vendor.region.charger=*
    write /sys/class/xm_power/charger/charger_common/property persist.vendor.region.charger=${persist.vendor.region.charger}

# END Charger_DebugEnhance
